.div1{
    height:300px;
    width:300px;
    border-style:solid;
    border-color:red;
    border-width:10px;
    background-color:yellow;
    position: relative;
    top:50px;
}
.ex{
    height:1000px;
    width:1000px;
    color:black;
    position: relative;
    top:20px;
    left: 20px;
}
.dataTotal {
    height:60px;
    width:500px;
    color:black;
    position: relative;
    top:5px;
    left: 30px;
}
.TotalTrainDate{
    border-radius:9px 9px 9px 9px;
    height:170px;
    width:430px;
    color:black;
    text-align:center;
    position: absolute;
    top:190px;
    left:30px;
    background-color:#E7F1F8;
}
.TotalTableDate{
    border-radius:9px 9px 9px 9px;
    height:170px;
    width:430px;
    color:black;
    text-align:center;
    position: absolute;
    top:190px;
    left: 500px;
    background-color:#EEEDED;
}
.boxscroll b{
    font-size:15px;
}
.totalValue b{
    position: relative;
    top:20px;
    font-size:30px;
}
.boxscroll2 b{
    position: relative;
    top:40px;
    left: 5px;
    font-size:15px;
}
.totalvalue{
    font-size:40px;
    color:#0F75BC;
}
.totalordinaryvalue{
    font-size:20px;
}
.StudentWeekRate{
    border-radius:9px 9px 9px 9px;
    height:170px;
    width:430px;
    color:black;
    text-align:center;
   /* position: absolute;
    top:490px;
    left: 30px;*/
    background-color:#E7F1F8;
}

#StudentWeekRateView{
    border-radius:9px 9px 9px 9px;
    height:220px;
    width:430px;
    color:black;
    text-align:center;
    position: absolute;
    top:440px;
    left: 30px;
    background-color:#E7F1F8;
    /*background-color:#E7F1F8;*/
}

.StudentTableWeekRate{
    border-radius:9px 9px 9px 9px;
    height:170px;
    width:430px;
    color:black;
    text-align:center;
    background-color:#EEEDED;
}

#StudentTableWeekRateView{
    border-radius:9px 9px 9px 9px;
    height:220px;
    width:430px;
    color:black;
    text-align:center;
    position: absolute;
    top:440px;
    left: 500px;
    background-color:#EEEDED;
}


.gradeWeekRate{
    border-radius:9px 9px 9px 9px;
    height:270px;
    width:430px;
    color:black;
    text-align:center;
    background-color:#E7F1F8;
    position: relative;
    top:-40px;
}
#gradeWeekRateView{
    border-radius:9px 9px 9px 9px;
    height:270px;
    width:430px;
    color:black;
    text-align:center;
    position: absolute;
    top:690px;
    left: 30px;
    background-color:#E7F1F8;
}

.gradeTableWeekRate{
    border-radius:9px 9px 9px 9px;
    height:270px;
    width:430px;
    color:black;
    text-align:center;
    position: relative;
    top:-40px;
    background-color:#EEEDED;
}
#gradeTableWeekRateView{
    border-radius:9px 9px 9px 9px;
    height:270px;
    width:430px;
    color:black;
    text-align:center;
    position: absolute;
    top:690px;
    left:500px;
    background-color:#E7F1F8;
}

.classWeekRate{
    border-radius:9px 9px 9px 9px;
    height:470px;
    width:430px;
    color:black;
    text-align:center;
    position: absolute;
    top:990px;
    left: 30px;
    background-color:#E7F1F8;
}
.classTableWeekRate{
    border-radius:9px 9px 9px 9px;
    height:470px;
    width:430px;
    color:black;
    text-align:center;
    position: absolute;
    top:990px;
    left: 500px;
    background-color:#EEEDED;
}

.ClassWeekRateView{
    background-color:#E7F1F8;
    height:170px;
    position: relative;
    top:10px;
}
.ClassTableWeekRateView{
    background-color:#EEEDED;
    height:170px;
    position: relative;
    top:10px;
}

#ClassWeekRateViewTable{
    text-align:center;
    background-color:#E7F1F8;
}

#ClassTableWeekRateViewTable{
    text-align:center;
    background-color:#EEEDED;
}
#classop th, #classop td{
    height:30px;
    width:50px;
    color: white;
    background-color:#0F75BC ;
}

#classops th, #classops td{
    height:30px;
    width:50px;
    color: white;
    background-color:#494545 ;
}
.Viewtitle{
    border-radius:9px 9px 9px 9px;
    height: 38px;
    color: black;
    text-align:center;
    z-index:9999;
    position: relative;
    top:15px;
}

