body {
	margin: 0px;
	padding: 0px;
}

.left {
	background: #0F75BC;
	width: 20%;
	float: left;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

.top {
	width: 80%;
	float: right;
	height: 100px;
	line-height: 100px;
	background:  #E7F1F8;
}

.content {
	float: right;
	width: 80%;
	text-align: center;
	font-size: 40px;
	margin-top: 200px;
}

.leftTiyle {
	font-size: 25px;
	padding-left: 30px;
	font-weight: 600;
	color: #F34141;
	float: left;
}

.thisUser {
	float: right;
	margin-right: 30px;
}

.bigTitle {
	background: #0F75BC;
	color: #fff;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 24px;
	font-family: -webkit-body;
}

.lines .active {
	background: #0F75BC;
	color: #fff;
}
.lines img{
    width: 23px;
    vertical-align: middle;
    margin-bottom: 4px;
    margin-right: 9px;
}
.lines div {
	height: 70px;
	line-height: 70px;
	padding-left: 50px;
	color: #fff;
}

.lines div:hover {
	cursor: pointer;
	color: #0b0b0b;
	background: #E7F1F8;
	font-size: 20px;
	font-weight:bold;
}