<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />

    <title>后台登录</title>
    <!-- for-mobile-apps -->

    <!-- //for-mobile-apps -->
    <link rel="stylesheet" href="/styeCss/addclass.css" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>

</head>
<body>
<!-- main -->
<div class="main">
    <h1>
        AIMS-添加学生
    </h1>
    <form method="post" action="addClassVal" onsubmit="return subForm()">
        <input type="text" name="tc_name" value='班级昵称' onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '班级昵称';}">
        <input type="submit" value="保存">
    </form>
</div>
<!-- //main -->
<script>
    function subForm(){
        var tc_name = $("input[name='tc_name']").val();
        if (tc_name == "" ||tc_name == "班级昵称" || tc_name == null || tc_name == undefined) {
            alert("班级昵称不能为空");
            return false;/*阻止表单提交*/
        } else {
            alert("添加成功");
            return true;
        }
    }
</script>
</body>
</html>