<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>mail</title>
    <meta charset="UTF-8"/>
</head>
<body>
<table>
    <tr>
        <th>NAME</th>
        <th>PRICE</th>
    </tr>
    <tr th:each="users,stat : ${people}" >
        <td th:text="${users.u_name}">Onions</td>
        <td th:text="${users.u_phone}">2.41</td>
    </tr>
</table>
<script data-th-inline="javascript" >
    function getName(name) {
        alert(name);
    }
</script>
</body>
</html>