<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="utf-8" />
		<title>AIMS首页</title>
		<link rel="stylesheet" href="/styeCss/page.css" />

		<script type="text/javascript" src="/js/jquery.min.js" ></script>
		<script type="text/javascript" src="/js/index.js" ></script>

		<style>

			.content{
				margin-top: 0px;
			}
		</style>
	</head>

	<body>
		<div class="left">
			<div class="bigTitle">AIMS后台管理</div>
			<div class="lines">
				<div onclick="pageClick('aimsshow')" ><img src="/img/icon-1.png" />Aims首页</div>
				<div onclick="pageClick('montionDataViewDong')" ><img src="/img/homePageImg.png" />实时数据</div>
				<div onclick="pageClick('editiontable')" ><img src="/img/Personal.png" />版本管理</div>
				<div onclick="pageClick('downloadAims')" ><img src="/img/icon-4.png" />健身数据下载</div>
			</div>
		</div>
		<div class="top">
			<div class="leftTiyle" id="flTitle" th:text="${title}"></div>
			<div class="thisUser" th:text="'当前用户：'+${admin.user_name}"></div>
		</div>
		<div class="content">
				<iframe  th:src="${aloo}" style="width: 100%;height: 620px;border: hidden;"></iframe>
		</div>
		
		<script>
			function pageClick(url) {
				$("iframe").attr("src",url)
			}
		</script>
	</body>
	
	

</html>