<!DOCTYPE html>
<html lang="en">
<link>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Aims</title>

	<link type="text/css" href="/styeCss/style.css" rel="stylesheet" >

	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/vector.js"></script>


</head>
<body>

<div id="container">
	<div id="output">
		<div class="containerT">
			<h1>AIMS-管理员登录</h1>
			<form class="form" method="post" action="loginPage" onsubmit="return subForm()">
				<input type="text" name="username" id="entry_name" value="aims">
				<input type="password" name="password" id="entry_password">
				<button type="submit" id="entry_btn">登录</button>
				<div id="prompt" class="prompt"></div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
    $(function(){
        Victor("container", "output");   //登录背景函数
        $("#entry_name").focus();
        $(document).keydown(function(event){
            if(event.keyCode==13){
                $("#entry_btn").click();
            }
        });
    });

	function subForm(){
		var first = $("input[name='username']").val();
		var last = $("input[name='password']").val();

		if (first == "" || first == null || first == undefined) {
			alert("账号不能为空");
			return false;/*阻止表单提交*/
		} else if (last == "" || last == null || last == undefined) {
			alert("密码不能为空");
			return false;
		} else {
			alert("提交");
			return true;
		}
	}
</script>
</body>
</html>