<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styeCss/montionDataView.css" />
</head>
<body style="height: 100%; margin: 0">
<div id="she1" style="height: 50%;">
    <div id="she1A" class="she1A" style="height: 100%;width: 50%"></div>
    <div id="she1G" class="she1A" style="height: 100%;width: 50%"></div>
</div>
<div id="she2" style="height: 50%;">
    <div id="she2A" class="she2A" style="height: 100%;width: 50%"></div>
    <div id="she2G" class="she2G" style="height: 100%;width: 50%"></div>
</div>
<div id="she3" style="height: 50%;">
    <div id="she3A" class="she3A" style="height: 100%;width: 50%"></div>
    <div id="she3G" class="she3G" style="height: 100%;width: 50%"></div>
</div>
<div id="she4" style="height: 50%;">
    <div id="she4A" class="she4A" style="height: 100%;width: 50%"></div>
    <div id="she4G" class="she4G" style="height: 100%;width: 50%"></div>
</div>
<div id="she5" style="height: 50%;">
    <div id="she5A" class="she5A" style="height: 100%;width: 50%"></div>
    <div id="she5G" class="she5G" style="height: 100%;width: 50%"></div>
</div>
<div id="she6" style="height: 50%;">
    <div id="she6A" class="she6A" style="height: 100%;width: 50%"></div>
    <div id="she6G" class="she6G" style="height: 100%;width: 50%"></div>
</div>
<div id="she7" style="height: 50%;">
    <div id="she7A" class="she7A" style="height: 100%;width: 50%"></div>
    <div id="she7G" class="she7G" style="height: 100%;width: 50%"></div>
</div>
<div id="she8" style="height: 50%;">
    <div id="she8A" class="she8A" style="height: 100%;width: 50%"></div>
    <div id="she8G" class="she8G" style="height: 100%;width: 50%"></div>
</div>
<div id="she9" style="height: 50%;">
    <div id="she9A" class="she9A" style="height: 100%;width: 50%"></div>
    <div id="she9G" class="she9G" style="height: 100%;width: 50%"></div>
</div>
<div id="she10" style="height: 50%;">
    <div id="she10A" class="she10A" style="height: 100%;width: 50%"></div>
    <div id="she10G" class="she10G" style="height: 100%;width: 50%"></div>
</div>
<div id="she11" style="height: 50%;">
    <div id="she11A" class="she11A" style="height: 100%;width: 50%"></div>
    <div id="she11G" class="she11G" style="height: 100%;width: 50%"></div>
</div>
<div id="she12" style="height: 50%;">
    <div id="she12A" class="she12A" style="height: 100%;width: 50%"></div>
    <div id="she12G" class="she12G" style="height: 100%;width: 50%"></div>
</div>

<script type="text/javascript" src="/js/echarts.min.js" ></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">




    const maxShe = 3;
    const initNum = 500;
    const iIntervalValCount = 48;
    const intervalParams = [
        {
            mac :"C9:53:D8:09:56:DA"
        },{
            mac :"C4:FC:19:61:C4:8E"
        },{
            mac :"F4:90:74:20:20:7D"
        }]

    var curIdx = initNum;
    var sheDatas = [];

    var sheChartsA = [];
    var sheChartsG = [];
    var sheOptionA = [];
    var sheOptionG = [];

    function initDatas(num) {
        let res = [];
        for(let i = 0; i < num; i++)
        {
            res.push({
                name: i,
                value: [
                    i,
                    -0.2
                ]
            })
        }
        return res;
    }
    function packageData(name,idx, val) {
        return {
            name: name,
            value: [
                idx,
                val
            ]
        }
    }


    function startInterval (iNum){
        setInterval(function (iNum) {
            console.log('mac', intervalParams[iNum].mac);
            let params = new URLSearchParams();
            params.append('mac', intervalParams[iNum].mac);
            params.append('startDate', new Date().getTime());
            params.append('endDate', new Date().getTime());
            params.append('analysisType', 1);
            axios.post('/sprData/queryDataCriteria',
                params
            )
                .then(function (response) {
                    if(response.data.data.length == 0){
                        return;
                    }
                    sheDatas[iNum].ax.splice(0,iIntervalValCount - 1);
                    sheDatas[iNum].ay.splice(0,iIntervalValCount - 1);
                    sheDatas[iNum].az.splice(0,iIntervalValCount - 1);
                    sheDatas[iNum].gx.splice(0,iIntervalValCount - 1);
                    sheDatas[iNum].gy.splice(0,iIntervalValCount - 1);
                    sheDatas[iNum].gz.splice(0,iIntervalValCount - 1);
                    for (var i = 0; i < iIntervalValCount; i++) {
                        sheDatas[iNum].ax.push(packageData(curIdx, curIdx, response.data.data[0].ax[i]));
                        sheDatas[iNum].ay.push(packageData(curIdx, curIdx, response.data.data[0].ay[i]));
                        sheDatas[iNum].az.push(packageData(curIdx, curIdx, response.data.data[0].az[i]));
                        sheDatas[iNum].gx.push(packageData(curIdx, curIdx, response.data.data[0].gx[i]));
                        sheDatas[iNum].gy.push(packageData(curIdx, curIdx, response.data.data[0].gy[i]));
                        sheDatas[iNum].gz.push(packageData(curIdx, curIdx, response.data.data[0].gz[i]));
                        sheChartsA[iNum].setOption({
                            title:{text:"设备"+iNum +"   Mac:"+intervalParams[iNum].mac},
                            series: [{
                                data: sheDatas[iNum].ax
                            },{
                                data: sheDatas[iNum].ay
                            },{
                                data: sheDatas[iNum].az
                            }]
                        });
                        sheChartsG[iNum].setOption({
                            series: [{
                                data: sheDatas[iNum].gx
                            },{
                                data: sheDatas[iNum].gy
                            },{
                                data: sheDatas[iNum].gz
                            }]
                        });
                        curIdx++;
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });

        }, 1000, iNum);
    }

    for(let i = 0; i < maxShe; i++){
        sheDatas[i] = {
            ax:initDatas(initNum),
            ay:initDatas(initNum),
            az:initDatas(initNum),
            gx:initDatas(initNum),
            gy:initDatas(initNum),
            gz:initDatas(initNum)
        };

        //init SheCharts
        //获取设备1的div，并设置为echarts折线图
        let divA = document.getElementById(`she${i+1}A`);
        let divG = document.getElementById(`she${i+1}G`);
        sheChartsA[i] = echarts.init(divA);
        sheChartsG[i] = echarts.init(divG);

        sheOptionA[i] ={
            title: {
                text: '加速度(g)'
            },
            tooltip: {
                trigger: 'axis',
                formatter: function (params) {
                    params = params[0];
                    return params.value[1];
                },
                axisPointer: {
                    animation: false
                }
            },
            xAxis: {
                type: 'time',
                splitLine: {
                    show: false
                }

            },
            yAxis: {
                type: 'value',
                min:-16, // 设置y轴刻度的最小值
                max:16,  // 设置y轴刻度的最大值
                splitNumber:9,  // 设置y轴刻度间隔个数
                boundaryGap: [0, '100%'],
                splitLine: {
                    show: false
                }
            },
            series: [{
                name: 'ax',
                type: 'line',
                showSymbol: false,
                hoverAnimation: false,
                data: sheDatas[i].ax
            },
                {
                    name: 'ay',
                    type: 'line',
                    showSymbol: false,
                    hoverAnimation: false,
                    color : '#2ab3a6',
                    data: sheDatas[i].ay
                },
                {
                    name: 'az',
                    type: 'line',
                    showSymbol: false,
                    hoverAnimation: false,
                    color : '#ff9f1c',
                    data: sheDatas[i].az
                }
            ]
        };
        sheOptionG[i] = {
            title: {
                text: '角速度(°/s)'
            },
            tooltip: {
                trigger: 'axis',
                formatter: function (params) {
                    params = params[0];
                    return params.value[1];
                },
                axisPointer: {
                    animation: false
                }
            },
            xAxis: {
                type: 'time',
                splitLine: {
                    show: false
                }

            },
            yAxis: {
                type: 'value',
                min:-2000, // 设置y轴刻度的最小值
                max:2000,  // 设置y轴刻度的最大值
                splitNumber:9,  // 设置y轴刻度间隔个数
                boundaryGap: [0, '100%'],
                splitLine: {
                    show: false
                }
            },
            series: [{
                name: 'gx',
                type: 'line',
                showSymbol: false,
                hoverAnimation: false,
                data: sheDatas[i].gx
            },
                {
                    name: 'gy',
                    type: 'line',
                    showSymbol: false,
                    hoverAnimation: false,
                    color : '#2ab3a6',
                    data: sheDatas[i].gy
                },
                {
                    name: 'gz',
                    type: 'line',
                    showSymbol: false,
                    hoverAnimation: false,
                    color : '#ff9f1c',
                    data: sheDatas[i].gz
                }
            ]
        };

        sheChartsA[i].setOption(sheOptionA[i], true);
        sheChartsG[i].setOption(sheOptionG[i], true);

        startInterval(i);

    }





</script>
</body>
</html>