<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8" http-equiv="refresh" content="600">
    <link rel="stylesheet" href="/styeCss/montionDataView.css" />
</head>
<body style="height: 100%; margin: 0">
<div id="she1" style="height: 50%;">
    <div id="she1A" class="she1A" style="height: 100%;width: 50%"></div>
    <div id="she1G" class="she1G" style="height: 100%;width: 50%"></div>
</div>
<div id="she2" style="height: 50%;">
    <div id="she2A" class="she2A" style="height: 100%;width: 50%"></div>
    <div id="she2G" class="she2G" style="height: 100%;width: 50%"></div>
</div>
<div id="she3" style="height: 50%;">
    <div id="she3A" class="she3A" style="height: 100%;width: 50%"></div>
    <div id="she3G" class="she3G" style="height: 100%;width: 50%"></div>
</div>
<div id="she4" style="height: 50%;">
    <div id="she4A" class="she4A" style="height: 100%;width: 50%"></div>
    <div id="she4G" class="she4G" style="height: 100%;width: 50%"></div>
</div>
<div id="she5" style="height: 50%;">
    <div id="she5A" class="she5A" style="height: 100%;width: 50%"></div>
    <div id="she5G" class="she5G" style="height: 100%;width: 50%"></div>
</div>
<div id="she6" style="height: 50%;">
    <div id="she6A" class="she6A" style="height: 100%;width: 50%"></div>
    <div id="she6G" class="she6G" style="height: 100%;width: 50%"></div>
</div>
<div id="she7" style="height: 50%;">
    <div id="she7A" class="she7A" style="height: 100%;width: 50%"></div>
    <div id="she7G" class="she7G" style="height: 100%;width: 50%"></div>
</div>


<script type="text/javascript" src="/js/echarts.min.js" ></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">




    const maxShe = 7;
    const initNum = 500;
    const iIntervalValCount = 48;
    const intervalParams = [
        {
            mac :"F1:F9:B4:B5:CD:78",
            curIdx : 500
        },{
            mac :"F6:B4:8A:3D:7C:8C",
            curIdx : 500
        },{
            mac :"E3:BC:7A:2B:BE:B6",
            curIdx : 500
        },{
            mac :"CC:7A:5B:12:9F:59",
            curIdx : 500
        },{
            mac :"D3:48:0A:4E:70:0F",
            curIdx : 500
        },{
            mac :"ED:B1:5D:9E:18:B5",
            curIdx : 500
        },{
            mac :"E3:E7:E7:F5:49:DD",
            curIdx : 500
        }]

    // var curIdx = initNum;
    var sheDatas = [];


    var sheChartsA = [];
    var sheChartsG = [];
    var sheOptionA = [];
    var sheOptionG = [];

    function initDatas(num) {
        let res = [];
        for(let i = 0; i < num; i++)
        {
            res.push({
                name: i,
                value: [
                    i,
                    -0.2
                ]
            })
        }
        return res;
    }
    function packageData(name,idx, val) {
        return {
            name: name,
            value: [
                idx,
                val
            ]
        }
    }


    setInterval(function () {
        let params = new URLSearchParams();
        params.append('startDate', new Date().getTime()-2000);
        params.append('endDate', new Date().getTime()-2000);
        params.append('analysisType', 1);
        axios.post('/sprData/queryWholeDataCriteria',
            params
        )
            .then(function (response) {
                if(response.data.data.length == 0){
                    return;
                }
                var macArray = response.data.data;
                for(var a = 0; a < macArray.length; a++){
                    for (var iNum = 0; iNum < intervalParams.length; iNum ++){
                        if (macArray[a].mac == intervalParams[iNum].mac){
                            sheDatas[iNum].ax.splice(0,iIntervalValCount - 1);
                            sheDatas[iNum].ay.splice(0,iIntervalValCount - 1);
                            sheDatas[iNum].az.splice(0,iIntervalValCount - 1);
                            sheDatas[iNum].gx.splice(0,iIntervalValCount - 1);
                            sheDatas[iNum].gy.splice(0,iIntervalValCount - 1);
                            sheDatas[iNum].gz.splice(0,iIntervalValCount - 1);
                            for (var i = 0; i < iIntervalValCount; i++) {
                                sheDatas[iNum].ax.push(packageData(intervalParams[iNum].curIdx, intervalParams[iNum].curIdx, response.data.data[a].ax[i]));
                                sheDatas[iNum].ay.push(packageData(intervalParams[iNum].curIdx, intervalParams[iNum].curIdx, response.data.data[a].ay[i]));
                                sheDatas[iNum].az.push(packageData(intervalParams[iNum].curIdx, intervalParams[iNum].curIdx, response.data.data[a].az[i]));
                                sheDatas[iNum].gx.push(packageData(intervalParams[iNum].curIdx, intervalParams[iNum].curIdx, response.data.data[a].gx[i]));
                                sheDatas[iNum].gy.push(packageData(intervalParams[iNum].curIdx, intervalParams[iNum].curIdx, response.data.data[a].gy[i]));
                                sheDatas[iNum].gz.push(packageData(intervalParams[iNum].curIdx, intervalParams[iNum].curIdx, response.data.data[a].gz[i]));
                                 intervalParams[iNum].curIdx++;
                            }
                            sheChartsA[iNum].setOption({
                                title:{text:"设备"+iNum +"   Mac:"+intervalParams[iNum].mac},
                                series: [{
                                    data: sheDatas[iNum].ax
                                },{
                                    data: sheDatas[iNum].ay
                                },{
                                    data: sheDatas[iNum].az
                                }]
                            });
                            sheChartsG[iNum].setOption({
                                series: [{
                                    data: sheDatas[iNum].gx
                                },{
                                    data: sheDatas[iNum].gy
                                },{
                                    data: sheDatas[iNum].gz
                                }]
                            });
                        }
                    }
                }
            })
            .catch(function (error) {
                console.log(error);
            });

    }, 1000);

    for(let i = 0; i < maxShe; i++){
        sheDatas[i] = {
            ax:initDatas(initNum),
            ay:initDatas(initNum),
            az:initDatas(initNum),
            gx:initDatas(initNum),
            gy:initDatas(initNum),
            gz:initDatas(initNum)
        };

        //init SheCharts
        //获取设备1的div，并设置为echarts折线图
        let divA = document.getElementById(`she${i+1}A`);
        let divG = document.getElementById(`she${i+1}G`);
        sheChartsA[i] = echarts.init(divA);
        sheChartsG[i] = echarts.init(divG);

        sheOptionA[i] ={
            title: {
                text: '加速度(g)'
            },
            tooltip: {
                trigger: 'axis',
                formatter: function (params) {
                    params = params[0];
                    return params.value[1];
                },
                axisPointer: {
                    animation: false
                }
            },
            xAxis: {
                type: 'time',
                splitLine: {
                    show: false
                }

            },
            yAxis: {
                type: 'value',
                min:-16, // 设置y轴刻度的最小值
                max:16,  // 设置y轴刻度的最大值
                splitNumber:9,  // 设置y轴刻度间隔个数
                boundaryGap: [0, '100%'],
                splitLine: {
                    show: false
                }
            },
            series: [{
                name: 'ax',
                type: 'line',
                showSymbol: false,
                hoverAnimation: false,
                data: sheDatas[i].ax
            },
                {
                    name: 'ay',
                    type: 'line',
                    showSymbol: false,
                    hoverAnimation: false,
                    color : '#2ab3a6',
                    data: sheDatas[i].ay
                },
                {
                    name: 'az',
                    type: 'line',
                    showSymbol: false,
                    hoverAnimation: false,
                    color : '#ff9f1c',
                    data: sheDatas[i].az
                }
            ]
        };
        sheOptionG[i] = {
            title: {
                text: '角速度(°/s)'
            },
            tooltip: {
                trigger: 'axis',
                formatter: function (params) {
                    params = params[0];
                    return params.value[1];
                },
                axisPointer: {
                    animation: false
                }
            },
            xAxis: {
                type: 'time',
                splitLine: {
                    show: false
                }

            },
            yAxis: {
                type: 'value',
                min:-2000, // 设置y轴刻度的最小值
                max:2000,  // 设置y轴刻度的最大值
                splitNumber:9,  // 设置y轴刻度间隔个数
                boundaryGap: [0, '100%'],
                splitLine: {
                    show: false
                }
            },
            series: [{
                name: 'gx',
                type: 'line',
                showSymbol: false,
                hoverAnimation: false,
                data: sheDatas[i].gx
            },
                {
                    name: 'gy',
                    type: 'line',
                    showSymbol: false,
                    hoverAnimation: false,
                    color : '#2ab3a6',
                    data: sheDatas[i].gy
                },
                {
                    name: 'gz',
                    type: 'line',
                    showSymbol: false,
                    hoverAnimation: false,
                    color : '#ff9f1c',
                    data: sheDatas[i].gz
                }
            ]
        };

        sheChartsA[i].setOption(sheOptionA[i], true);
        sheChartsG[i].setOption(sheOptionG[i], true);

    }



</script>
</body>
</html>